@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap");

.nav {
    height: 100vh;
    margin: 0;
    background-color: #1f232a;
    width: 80px;
    color: #deebe9;
    text-align: left;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
}

.nav a {
    font-size: 1.5rem;
    align-self: center;
}

.navExpand {
    width: 250px;
    transition: 0.4s;
    text-align: left;
    align-content: flex-start;
}

.navbar-brand {
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: "Sulphur Point", sans-serif;
}

#clientLinks a,
#settingsLink a {
    display: block;
    text-align: center;
}

.nav .activeLink {
    color: #1fb297;
}

.flex-column a {
    color: #deebe9;
}

.circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 15px;
    color: #deebe9;
    text-align: center;
    background: #3c4146;
    margin: 0 auto;
}

.activeLink .circle {
    background: #1fb297;
}
